//- Quick Insert a responsive Image Set
mixin responsiveImage(picturename,alt)
	figure.responsiveImage(data-media='dummys/#{picturename}-small.jpg', data-media480='dummys/#{picturename}-large.jpg',data-media768='dummys/#{picturename}-large.jpg', title='#{alt}')
		img(src='dummys/#{picturename}-large.jpg', alt='#{alt}')
		noscript
			img(src='dummys/#{picturename}-large.jpg', alt='#{alt}')
	// .responsiveImage

//- Generate Navigation Lists
//- EG: - var listentrys = [{ name: 'Link',link: '#', active: ''}]
mixin navigationList(listentrys)
	ul.nav.floatright
		each listentry in listentrys
			if (listentry.active)
				li(class=listentry.active)
					a(href=listentry.link,title=listentry.name)= listentry.name
			else
				li
					a(href=listentry.link,title=listentry.name)= listentry.name

//- Countered Loop
//- - for (var i=0; i<4; i++)