header#siteHeader.row(role='banner').spacer
	h1#siteLogo.col-2
		.innerCol
			a(href='#').lines-3
				img(src='holder.js/150x63/text:LOGO').block.fluidMax
	// #siteLogo
	nav#mainNav.col-6(role='navigation')
		.innerCol
			a(href='#').mobileNavButton.hiddenToPhone MobileNavigation
			mixin navigationList(mainNavItems)
	// #mainNav
// #siteHeader.row
