//- INIT VARIABLES FOR SOME LAYOUT CASES

//- Development Stage [production / development]
- var devStage = 'development'

//- Name of the Site
- var sitetitle = 'Kickstarter'

//- Responsive Support for IE7 and IE8
- var responsiveIE78 = false

//- Responsive Support for IE8 only
- var responsiveIE8 = false

//- Need CSS3 Selector Support for IE7 and IE8
- var ieCSS3SeleSupport = true    

//- Support for IE7 with Fontawesome
- var fontawesomeIE7 = false

//- Support for CSS3 Filters (https://github.com/Schepp/CSS-Filters-Polyfill)
- var css3FilterSupport = false

//- ======= Custom JADE Variables =============
- var mainNavItems = [{ name: 'Home',link: '#', active: 'active'}, { name: 'Blog',link: '#', active: ''}, { name: 'Portfolio',link: '#', active: ''}, { name: 'Contact',link: '#', active: ''} ]
//- ====== Mixins ===============================
include mixins/_mixin
