//- INCLUDE GLOBAL VARIABLES
include _config 
 
//- TEMPLATE VARIABLES    

//- Set the Links for the Main Navigation


//- Starting HTML OUTPUT ========================== 

!!!5
html 
	//- Include the Header Block
	include mainview/_header         
	body
		.basetest
		#topWrapper.container 
			//- Header Area 
			include subview/_siteHeader

			//- Main Content Area 
			#contentStage.row

				#mainArea.col-9
					.innerCol
						h2 Headline Main Area
						p
							figure.alignright.alignresponse
								img(src='holder.js/200x180').fullsize
							| This is my text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

						p
							figure.alignleft.alignresponse
								img(src='holder.js/200x180').fullsize
							| This is my text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				// #mainArea
				aside#sideBar.col-3
					.innerCol
						.box.sidebarBox
							h6 Widget Header
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
							a(href='#').button Link
						// .sidebarBox
						.box.sidebarBox
							h6 Widget Header
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						// .sidebarBox
						.box.sidebarBox
							h6 Widget Header
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
						// .sidebarBox
				// #sideBar

			// #contentStage
			//- Footer Indicator
			#footerIndicator 
		// #topWrapper

		//- Include the Footer
		include subview/_siteFooter
		
		//- Include the Script Footer
		include mainview/_scriptfooter


