// Buttons

@mixin button($color: $mainColor, $colorHover: $mainColor, $gradient: soft, $padding: 10, $textSize: $bodyFontSize, $textColor: #fff, $textColorHover: #fff, $textWeight: bold, $radius: 0,$textShadow: true, $border: darken($mainColor,10))
	+inline-block
	+relative

	margin          : 0
	border          : 0
	color           : $textColor
	cursor          : pointer
	@if $padding != full
		padding : 0 ($padding + 0px)
	@else
		padding: 0 
		width: 100%
	font-size       : $textSize + 0px
	text-align      : center
	outline         : none
	font-weight     : $textWeight
	text-decoration : none
	@if $radius > 0
		+border-radius(($radius + 0px))
	background-color: $color
	@if $gradient == soft
		+background-image(linear-gradient(rgba(#fff, 0.2) 0%, rgba(#000, 0.1) 100%))
	@if $gradient == glossy
		+background-image(linear-gradient(rgba(#fff, 0.2) 0%, rgba(#fff, 0.2) 50%, rgba(#000, 0) 51%, rgba(#000, 0) 100%))
	@if $textShadow == true
		text-shadow : 0 1px 1px rgba(#000, 0.45)
	@if $border != false
		border: 1px solid $border


	+single-transition(all,500ms)
	&:hover,&:focus
		text-decoration: none
		color: $textColorHover
		background-color: $colorHover
		@if $gradient == soft
			+background-image(linear-gradient(rgba(#fff, 0.1) 0%, rgba(#000, 0.05) 150%))
		@if $gradient == glossy
			+background-image(linear-gradient(rgba(#fff, 0) 0%, rgba(#fff, 0) 50%, rgba(#000, 0) 51%, rgba(#000, 0) 100%))

	&:active, .active &, &.active, & .active
		color: $textColorHover
		background-color: $colorHover
		@if $gradient == soft
			+background-image(linear-gradient(rgba(#fff, 0.1) 0%, rgba(#000, 0.05) 150%))
		@if $gradient == glossy
			+background-image(linear-gradient(rgba(#fff, 0) 0%, rgba(#fff, 0) 50%, rgba(#000, 0) 51%, rgba(#000, 0) 100%))
	&.disabled, &[disabled]
		+opacity(0.6)
		cursor: default

@mixin buttonGroup($radius: 3, $border: #000)
	li
		a
			border-right: 1px solid $border
			border-top: 1px solid $border
			border-bottom: 1px solid $border
	li:first-child 
		a
			border-left: 1px solid $border
			@if $radius > 0
				+border-radius(($radius + 0px) 0 0 ($radius + 0px))
	li:last-child 
		padding-right: 0
		a
			@if $radius > 0
				+border-radius(0 ($radius + 0px) ($radius + 0px) 0)
@mixin buttonInteract($interact: styledShadow)
	@if $interact == styled
		+box-shadow(inset 0 1px 0 rgba(#fff, 0.5))

		&:hover
			+box-shadow(inset 0 1px 1px rgba(#fff, 0.2))
		&:active
			+box-shadow(inset 0 -1px 0px rgba(#fff,0.4))

	@if $interact == styledShadow
		+box-shadow(inset 0 1px 0 rgba(#fff, 0.5))

		&:hover
			+box-shadow(inset 0 1px 0 rgba(#fff, 0.5),0 1px 4px rgba(0,0,0,0.5))
		&:active
			+box-shadow(inset 0 1px 4px rgba(0,0,0,0.5))

	@if $interact == styledInset
		+box-shadow(inset 0 1px 0 rgba(#fff, 0.5))
		&:hover
			+box-shadow(inset 0 1px 2px rgba(0,0,0,0.5))
		&:active
			+box-shadow(inset 0 1px 4px rgba(0,0,0,0.5))

	@if $interact == inset 
		&:hover
			+box-shadow(inset 0 1px 2px rgba(0,0,0,0.7))
		&:active
			+box-shadow(inset 0 1px 4px rgba(0,0,0,0.5))

// .button
// 	+inline-block
// 	background      : $mainColor
// 	border          : none
// 	color           : $white
// 	cursor          : pointer
// 	// line-height     : 1
// 	// padding         : 9px 34px 11px
// 	padding: 0 10px
// 	position        : relative
// 	text-align      : center
// 	text-decoration : none
// 	outline         : none
// 	margin          : 0

// 	&.bold
// 		font-weight : bold
	
// 	&.glossy
// 		background-color : $mainColor
// 		+background-image(linear-gradient(rgba(#fff, 0.2) 0%, rgba(#fff, 0.2) 50%, rgba(#000, 0) 51%, rgba(#000, 0) 100%))
// 		&:hover
// 			+background-image(linear-gradient(rgba(#fff, 0) 0%, rgba(#fff, 0) 50%, rgba(#000, 0) 51%, rgba(#000, 0) 100%))

// 	&.soft
// 		background-color : $mainColor
// 		+background-image(linear-gradient(rgba(#fff, 0.4) 0%, rgba(#000, 0) 350%))
// 		&:hover
// 			+background-image(linear-gradient(rgba(#fff, 0) 0%, rgba(#000, 0) 350%))

// 	&.styled
// 		+box-shadow(inset 0 1px 0 rgba(#fff, 0.5))
// 		text-shadow : 0 1px 1px rgba(#000, 0.45)
// 		border      : 1px solid darken($mainColor, 7%)
// 		+transition-property(all)
// 		+transition-duration(500ms)
// 		+transition-timing-function(ease-in-out)

		
// 		// Styled button borders
// 		&.alert
// 			border: solid 1px darken($alertColor, 7%)
// 		&.success
// 			border: solid 1px darken($successColor , 7%)   
// 		&.white
// 			border: solid 1px darken($white, 15%)
// 			text-shadow: none !important
// 		&.black
// 			border: solid 1px darken($black, 7%)
			
// 	// Button colors and hover states
// 	// Base hover state
// 	&:hover, &:focus
// 		background-color : darken($mainColor, 5%)
// 		color            : #fff
// 		text-decoration  : none
// 	&:active
// 		+box-shadow(inset 0 1px 3px rgba(0,0,0,0.3))

// 	&.alert
// 		background-color: $alertColor
// 		&:hover, &:focus
// 			background-color: darken($alertColor, 5%)

// 	&.success
// 		background-color: $successColor 
// 		&:hover, &:focus
// 			background-color: darken($successColor , 5%)

// 	&.white
// 		background-color: darken($white, 0%)
// 		color: #333
// 		&:hover, &:focus
// 			background-color: darken($white, 10%)
// 			color: #333

// 	&.black
// 		background-color: $black
// 		&:hover, &:focus
// 			background-color: darken($black, 8%)

// 	// Button shapes
// 	&.radius
// 		+border-radius(3px)
// 	&.round
// 		+border-radius(1000px)

// 	// Button layout
// 	&.fullWidth
// 		width         : 100%
// 		padding-left  : 0 !important
// 		padding-right : 0 !important
// 		text-align    : center
// 	&.leftAlign
// 		text-align  : left
// 		text-indent : 12px
// 	&.rightAlign
// 		text-align : right
// 		&:after
// 			content : ''
// 			width   : 12px
// 			height  : 1px
// 			display : inline-block

// 	// Button sizes
// 	&.supersmall
// 		font-size : $bodyFontSize - 5px
// 		padding   : 1px 3px
// 		width     : auto
// 	&.small
// 		font-size : $bodyFontSize - 3px
// 		padding   : 4px 10px 5px
// 		width     : auto
// 	&.medium
// 		font-size : $bodyFontSize - 1px
// 		width     : auto
// 		padding   : 7px 20px 8px
// 	&.large
// 		font-size : $bodyFontSize + 9px
// 		padding   : 12px 48px 13px
// 		width     : auto

// 	// Button disabled states
// 	&.disabled, &[disabled]
// 		+opacity(0.6)
// 		cursor: default




// // Button Grouping
// @mixin buttonGroup
// 	.buttonGroup
// 		+inline-block
// 		+pie-clearfix
// 		&.supersmall
// 			.button
// 				font-size : $bodyFontSize - 5px
// 				padding   : 1px 3px
// 				width     : auto
// 		&.small
// 			.button
// 				font-size : $bodyFontSize - 3px
// 				padding   : 4px 10px 5px
// 				width     : auto
// 		&.medium
// 			.button
// 				font-size : $bodyFontSize - 1px
// 				width     : auto
// 		&.large
// 			.button
// 				font-size : $bodyFontSize + 9px
// 				padding   : 12px 48px 13px
// 				width     : auto
// 		.button
// 			float: left
// 			&.radius, &.round
// 				+border-radius(0)
// 			&.styled
// 				border: none
// 		&.radius
// 			+border-radius(4px)
// 			.button
// 				&:first-child
// 					+border-radius(3px 0 0 3px)
// 				&:last-child
// 					+border-radius(0px 3px 3px 0)
// 		&.round
// 			+border-radius(50px)
// 			.button
// 				&:first-child
// 					+border-radius(55px 0 0 55px)
// 				&:last-child
// 					+border-radius(0 55px 55px 0)
// 		&.styled
// 			border: 1px solid darken($mainColor, 7%)
// 			.button
// 				border-right: solid 1px darken($mainColor, 7%)

// 			&.alert
// 				border: solid 1px darken($alertColor, 7%)
// 				.button
// 					border-right: solid 1px darken($alertColor, 7%)
				

// 			&.success
// 				border: solid 1px darken($successColor, 7%)
// 				.button
// 					border-right: solid 1px darken($successColor, 7%)
					
				 
// 			&.white
// 				border: solid 1px darken($white, 15%)
// 				.button
// 					border-right: solid 1px darken($white, 14%)
				

// 			&.black
// 				border: solid 1px darken($black, 7%)
// 				.button
// 					border-right: solid 1px darken($black, 7%)
// 			.button
// 				&:last-child
// 					border-right: none


//----------------------------------------------------

// Don't use native buttons on iOS


@mixin button3dSimple($button-color: $mainColor, $color: #fff, $radius: 5, $padding: 8,$margin: 8, $background: #ccd0d5)
	background-color : $button-color
	padding          : $padding + 0px
	position         : relative
	text-decoration  : none
	color            : $color
	border           : solid 1px darken($button-color,25)
	+box-shadow(inset 0px 1px 0px lighten($button-color,27), 0px 1px 0px #fff)
	+background(linear-gradient(bottom, darken($button-color,10) 0%, lighten($button-color,10) 100%))
	@if $radius > 0
		$radius : $radius + 0px
		+border-radius($radius)

	&:hover
		color: $color
		text-decoration: none

	&:active,&:hover
		padding-bottom   : $padding - 1px
		padding-left     : $padding + 0px
		padding-right    : $padding + 0px
		padding-top      : $padding + 1px
		top              : 1px
		background-color : darken($button-color,10)
		+background(linear-gradient(bottom, $button-color 1%, darken($button-color,4) 100%))

	&:before
		background-color : $background
		content          : ''
		display          : block
		position         : absolute
		width            : 100%
		height           : 100%
		padding          : $margin + 0px
		left             : 0px - $margin
		top              : 0px - $margin
		z-index          : -1
		@if $radius > 0
			$radius : $radius + 0px
			+border-radius($radius)
		+box-shadow(inset 0px 1px 1px #909193, 0px 1px 0px #fff)


@mixin buttonPush($button-color: $mainColor, $color: #fff, $radius: 5, $padding: 10, $margin: 4, $background:#ccd0d5)
	padding          : $padding + 0px
	position         : relative
	text-decoration  : none
	color            : $color
	margin           : 0 4px
	background-color : lighten($button-color,10)
	+background(linear-gradient(bottom, darken($button-color,10) 0%, lighten($button-color,10) 100%))
	+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 6px 0px darken($button-color,40))
	@if $radius > 0
		$radius : $radius + 0px
		+border-radius($radius)

	&:hover
		color: $color
		text-decoration: none

	&.active, &:hover
		top        : 7px
		color      : #156785
		+background(linear-gradient(bottom, $button-color 1%, darken($button-color,4) 100%))
		+box-shadow(inset 0px 1px 0px lighten($button-color,30), inset 0px -1px 0px darken($button-color,40))
		+text-shadow(0px 1px 1px rgba(255,255,255,0.3))

		&:before
			top: $margin - 6px 

	&:before
		background-color : $background
		content          : ''
		display          : block
		position         : absolute
		width            : 100%
		height           : 100%
		padding-left     : $margin - 2px
		padding-right    : $margin - 2px
		padding-bottom   : $margin + 0px
		left             : 0 - ($margin - 2px) 
		top              : $margin + 1px
		z-index          : -1
		@if $radius > 0
			$radius : $radius + 1px
			+border-radius($radius)
		+box-shadow(inset 0px 1px 1px #909193, 0px 1px 0px #fff)

@mixin buttonSoftPush($button-color: $mainColor, $color: #fff, $radius: 5, $padding: 10)
	text-decoration : none
	color           : $color
	position        : relative
	padding         : ($padding + 0px) 20px
	@if $radius > 0
		$radius: $radius + 0px
		+border-radius($radius)
	background-color: $button-color
	+background(linear-gradient(bottom, darken($button-color,15) 0%,lighten($button-color,5) 100%))
	+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 5px 0px 0px darken($button-color,30), 0px 10px 5px rgba(0,0,0,0.3))

	&:hover
		color: #fff
		text-decoration: none

	&.active,&:hover 
		top: 3px
		+background(linear-gradient(bottom, darken($button-color,2) 0%, lighten($button-color,2) 100%))
		+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 2px 0px 0px darken($button-color,30), 0px 5px 3px rgba(0,0,0,0.4))

@mixin buttonSplit($button-color: $mainColor, $color: #fff, $radius: 5, $padding: 10, $width: 35, $site: left)
	text-decoration : none
	color           : $color
	position        : relative
	padding         : 0 20px
	line-height     : $padding * 2 + 20px
	// display         : inline-block

	+inline-block
	@if $site == left 
		border-left     : solid 1px lighten($button-color,30)
		margin-left     : $width + 0px
	@else
		border-right     : solid 1px lighten($button-color,30)
		margin-right     : $width + 0px
	@if $radius > 0
		$radius: $radius + 0px
		@if $site == left 
			+border-radius(0 $radius $radius 0)
		@else
			+border-radius($radius 0 0 $radius)
	background-color: $button-color
	+background(linear-gradient(bottom, darken($button-color,15) 0%,lighten($button-color,5) 100%))
	+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 5px 0px 0px darken($button-color,30), 0px 10px 5px rgba(0,0,0,0.4))

	&:hover
		color: #fff
		text-decoration: none

	&.active,&:hover 
		top: 3px
		+background(linear-gradient(bottom, darken($button-color,2) 0%, lighten($button-color,2) 100%))
		+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 2px 0px 0px darken($button-color,30), 0px 5px 3px #999)

		&:before
			top: -3px
			@if $site == left 
				+box-shadow(inset 0px 1px 0px lighten($button-color,25), 0px 5px 0px 0px darken($button-color,45), 1px 1px 0px 0px darken($button-color,37), 2px 2px 0px 0px darken($button-color,38), 2px 5px 0px 0px darken($button-color,40), 6px 4px 2px rgba(0,0,0,0.3), 0px 10px 5px rgba(0,0,0,0.4))
			@else
				+box-shadow(inset 0px 1px 0px lighten($button-color,25), 0px 5px 0px 0px darken($button-color,45), -1px 1px 0px 0px darken($button-color,37), -2px 2px 0px 0px darken($button-color,38), -2px 5px 0px 0px darken($button-color,40), -6px 4px 2px rgba(0,0,0,0.3), 0px 10px 5px rgba(0,0,0,0.4))

	&:before 
		content             : attr(data-text)
		width               : $width + 0px
		line-height         : $padding * 2 + 20px
		background-repeat   : no-repeat
		background-position : center center
		position            : absolute
		display             : block
		text-align          : center
		top                 : 0px
		@if $site == left 
			left            : 0 - $width + 0px
			border-left     : solid 1px darken($button-color,38)
		@else 
			right            : 0 - $width + 0px
			border-right     : solid 1px darken($button-color,38)
		font-weight      : bold
		overflow         : hidden
		color            : rgba(255,255,255,0.7)
		background-color : darken($button-color,28)
		@content
		+text-shadow(1px 1px 0px #07526e)
		+background(linear-gradient(bottom, darken($button-color,28) 0%, darken($button-color,18) 100%))
		@if $radius > 0 
			$radius: $radius + 0px
			@if $site == left
				+border-radius($radius 0 0 $radius)
			@else
				+border-radius(0 $radius $radius 0)
		+box-shadow(inset 0px 1px 0px lighten($button-color,25), 0px 5px 0px 0px darken($button-color,45), 0px 10px 5px rgba(0,0,0,0.4))

@mixin buttonDisc($button-color: $mainColor, $color: #fff, $radius: 5, $padding: 10, $discsize: 20, $site: right)
	text-decoration : none
	color           : $color
	position        : relative
	padding         : ($padding + 0px) 20px
	// display         : inline-block
	+inline-block
	@if $site == right
		padding-right: 50px + ($discsize - 20px)
	@if $site == left
		padding-left: 50px + ($discsize - 20px)

	background-color : lighten($button-color,5)
	+background(linear-gradient(bottom, darken($button-color,15) 0%,lighten($button-color,5) 100%))
	@if $radius > 0 
		$radius: $radius + 0px
		+border-radius($radius)
		+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 5px 0px 0px darken($button-color,30), 0px 10px 5px rgba(0,0,0,0.4)) 

	&:hover
		color: $color
		text-decoration: none

	&.active, &:hover
		top: 3px
		+background(linear-gradient(bottom, darken($button-color,2) 0%, lighten($button-color,2) 100%))
		+box-shadow(inset 0px 1px 0px lighten($button-color,30), 0px 2px 0px 0px darken($button-color,30), 0px 5px 3px rgba(0,0,0,0.4))

		&:before
			top: 50%
			margin-top: 0 - ($discsize / 2 + 2px) 
			+box-shadow(inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 0px darken($button-color,50), 0px 6px 3px rgba(0,0,0,0.4))

	&:before 
		content             : attr(data-text)
		background-repeat   : no-repeat
		background-position : center center
		line-height         : $discsize - 2px
		text-align          : center
		width               : $discsize + 0px
		height              : $discsize + 0px
		position            : absolute
		top                 : 50%
		margin-top          : 0 - ($discsize / 2 - 1px) 
		background-color    : darken($button-color,20)
		@if $site == right
			right: 15px
		@if $site == left
			left: 15px
		@content
		+border-radius(50%)
		+box-shadow(inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 1px rgba(255,255,255,0.6))


