$inputsList: 'input[type="email"]', 'input[type="number"]', 'input[type="password"]', 'input[type="search"]', 'input[type="tel"]', 'input[type="text"]', 'input[type="url"]', 'input[type="color"]', 'input[type="date"]', 'input[type="datetime"]', 'input[type="datetime-local"]', 'input[type="month"]', 'input[type="time"]', 'input[type="week"]'

$unquotedInputsList: ()

@each $inputType in $inputsList 
	$unquotedInputsList: append($unquotedInputsList, unquote($inputType), comma)

$allTextInputs: $unquotedInputsList

// Forms
form
	margin-bottom : $formMargin + 0px
	&.inlineForm
		margin-bottom : 0
		+pie-clearfix
		label, input, select, textarea
			margin : 0   
			+left
	label
		font-size   : nth($formLabel,1)
		color       : nth($formLabel,2)
		font-weight : nth($formLabel,3)
		+relative
		&.block
			+block
			margin-bottom : nth($formLabel,4) + 0px
		&.inline
			line-height  : $formInputHeight
			margin-right : nth($formLabel,4) + 0px

	#{$allTextInputs}
		&.right
			+right

	textarea, #{$allTextInputs}
		height      : $formInputHeight + 0px
		background  : nth($formInputBackground,1)
		font-family : $formInputFont
		font-size   : nth($formInput,1) + 0px
		color       : nth($formInput,2)
		font-weight : nth($formInput,3)
		padding     : 0 (nth($formInput,4) + 0px)
		@if $formInputBorder != false
			border : $formInputBorder
		@else
			border : 0
		@if $formInputRadius != false 
			+border-radius(($formInputRadius + 0px))
		@if $supportIE8 == true
			.lt-ie9 &
				line-height: $formInputHeight + 0px

		&:focus
			outline    : none
			background : nth($formInputBackground,2)
			+box-shadow(inset 0 1px 2px rgba(0,0,0,0.2))
			@if $formInputBorder != false
				@if $supportIE8 == true
					.lt-ie9 &
						border-color: darken(nth($formInputBorder,3),10)  

		&.oversize
			height      : $formInputHeight + 2px
			font-size   : nth($formInput,1) + 254px
			@if $supportIE8 == true
				.lt-ie9 &
					line-height: $formInputHeight + 2px
		&.supersize
			height      : $formInputHeight + 4px
			font-size   : nth($formInput,1) + 4px
			@if $supportIE8 == true
				.lt-ie9 &
					line-height: $formInputHeight + 4px

		@if $formPreBoxOption == true
			&.midfix
				@if $formInputBorder != false
					border-top    : $formInputBorder !important
					border-bottom : $formInputBorder !important 
					border-left   : 0 !important
					border-right  : 0 !important
					@if $supportIE8 == true
						.lt-ie9 &
							border-color: darken(nth($formInputBorder,3),10)
				@else 
					border: 0

	textarea
		height  : auto
		resize  : vertical
		padding : 5px 4px
		&.noresize
			resize: none

	input[type="submit"], button,input[type="reset"], input[type="button"]
		// line-height : 1px
		// height      : $formButtonHeight + 0px
		cursor      : pointer
		border      : 0
		font-size   : $formButtonFontSize + 0px
		// @if $supportIE7 == true
		// 	.lt-ie8 &
		// 		height : $formButtonHeight + 2px
		// @if $formButtonBorder != false 
		// @else
		// 	height : $formButtonHeight

		@if $formPreBoxOption == true
			.midfix
				@if $formButtonBorder != false
					border-top    : $formButtonBorder !important 
					border-bottom : $formButtonBorder !important 
					border-left   : 0 !important
					border-right  : 0 !important
				@else
					border : 0

	input[type="checkbox"],input[type="radio"]
		vertical-align : baseline
		cursor         : pointer

	fieldset
		border  : 1px solid lighten($textColor,65)
		padding : $formSpacing + 0px
		@if $formInputRadius != false
			+border-radius($formInputRadius)

		legend
			font-size : nth($formLabel,1)
			color     : nth($formLabel,2)

	// Text input and textarea, disabled
	input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]
		cursor       : not-allowed
		+opacity(0.6)

	input, textarea
		.placeholder
			color: $formPlaceholderColor

	input::-webkit-input-placeholder
		color: $formPlaceholderColor !important

	input::-webkit-textarea-placeholder
		color: $formPlaceholderColor !important

	input:-moz-placeholder
		color: $formPlaceholderColor !important

	.formRow
		margin-bottom : $formSpacing + 0px
		label, input, select, textarea
			margin-bottom : 0

		&.leftRow, &.rightRow
			+pie-clearfix

		&.leftRow
			label, input, select, textarea, span.custom, div.custom.dropdown
				+left

		&.rightRow
			label, input, select, textarea, span.custom, div.custom.dropdown
				+right
	@if $formPreBoxOption == true
		.prefix
			@if $formInputRadius != false
				+border-radius($formInputRadius 0 0 $formInputRadius !important)
			margin : 0
			
		.midfix
			@if $formInputRadius != false
				+border-radius(0 !important) 
			margin : 0

		.postfix
			@if $formInputRadius != false
				+border-radius(0 $formInputRadius $formInputRadius 0  !important)
			margin : 0
		.prebox
			@if $formPreboxBorder != false
				border: $formPreboxBorder
			height      : $formInputHeight
			line-height : $formInputHeight
			padding     : 0 5px
			color       : nth($formPreboxStyle,1)
			font-weight : nth($formPreboxStyle,2)
			font-size   : nth($formPreboxStyle,3)
			background  : nth($formPreboxStyle,4)
			margin      : 0


@mixin custom-checkboxes
	span.custom
		$checkradio-height : getSpriteHeight(cf-checkbox)
		@if $checkradio-height > 14px
			margin-bottom: 0 - (($checkradio-height - 14px) * 0.57) 
		+inline-block
		width    : getSpriteWidth(cf-checkbox)
		height   : $checkradio-height
		position : relative 
		top      : 3px  
		cursor   : pointer
		@if $supportIE7 == true
			.ie7 &
				top: -2px
		&.radio
			+getSprite(cf-radio,false,false)
			&.checked
				+getSprite(cf-radio-checked,false,false)
			&.disabled
				+opacity(0.6)	
				cursor : not-allowed
		&.checkbox
			+getSprite(cf-checkbox,false,false)
			&.checked
				+getSprite(cf-checkbox-checked,false,false)
			&.disabled
				+opacity(0.6)
				cursor : not-allowed

@mixin custom-dropdowns($background: #fff, $dropdown: $background, $hover-bg: $default-color, $current-text: #666, $hover-text: #fff, $selected-text: #000, $selected-bg: #fff, $radius:5, $border-color: #ddd, $shadow: false, $font-size: $bodyFontSize)
	div.custom
		&.dropdown 
			display    : block
			position   : relative
			width      : auto
			font-size  : $font-size + 0px
			height     : getSpriteHeight(cf-dropdown) + 2px
			background : $background
			z-index    : 30
			a
				&:hover
					text-decoration : none
				&.current
					display     : block
					width       : auto
					min-height  : getSpriteHeight(cf-dropdown)
					line-height : getSpriteHeight(cf-dropdown)
					padding     : 0 (getSprtieWidth(cf-dropdown) + 4px) 0 6px
					border      : solid 1px $border-color
					color       : $current-text
				&.selector
					+getSprite(cf-dropdown)
					position : absolute
					height   : getSpriteHeight(cf-dropdown)
					width    : getSpriteWidth(cf-dropdown)
					display  : block
					right    : 0 
					top      : 0
					padding  : 1px 0
					border   : solid 1px lighten($border-color,3)
			ul
				position   : absolute
				width      : auto
				display    : none
				margin     : 0
				left       : 0
				top        : getSpriteHeight(cf-dropdown) + 1px
				margin     : 0
				padding    : 0 
				background : rgba(255,255,255,0.9) 
				border     : solid 1px $border-color
				z-index    : 10
				@if $shadow != false
					+box-shadow(0 2px 5px rgba(0,0,0,0.2))
				&.show
					display: block
				li
					cursor      : pointer
					padding     : 0 (getSpriteWidth(cf-dropdown)) 0 6px
					margin      : 0
					white-space : nowrap
					background  : $dropdown
					color       : $current-text
					line-height : getSpriteHeight(cf-selected)
					&.selected
						width            : auto
						color            : $selected-text
						background-color : $selected-bg
						&:hover
							width            : auto
							background-color : $hover-bg
							color            : $hover-text
					&:hover
						background-color : $hover-bg
						color            : $hover-text
			&:hover
				a.selector
					+getSprite(cf-dropdown-hover)

			&.open
				ul
					display: block
					z-index: 10
				a.selector 
					+getSprite(cf-dropdown-hover)

			&.small   
				width: 134px !important
			&.medium  
				width: 254px !important
			&.large   
				width: 434px !important
			&.expand  
				width: 100% !important
			&.open.small  ul 
				width: 132px !important
			&.open.medium ul 
				width: 252px !important
			&.open.large  ul 
				width: 432px !important
			&.open.expand ul 
				width: 100% !important
				+box-sizing(border-box)

	.custom.disabled
		+opacity(0.6)
		cursor: not-allowed

	@if $radius > 0
		$radius : $radius + 0px
		div.custom.dropdown
			+border-radius($radius)
			a.current
				+border-radius($radius)
			a.selector
				border-width : 0 0 0 1px

		div.custom.dropdown.open
			+border-radius($radius $radius 0 0)
			a.current
				+border-radius($radius $radius 0 0)
			ul
				+border-bottom-right-radius($radius)
				+border-bottom-left-radius($radius)
				li:last-child
					+border-bottom-left-radius($radius)
					+border-bottom-right-radius($radius)

			