// Clearfix
.clearfix
	+pie-clearfix

.nav
	list-style: none
	margin-left: 0
	margin-bottom: 0
	+pie-clearfix
	> li
		margin-bottom: 0
		&, > a
			display: inline-block
			zoom: 1
			.ie7 &
				display: inline

	&.stacked
		> li
			display: list-item
			> a
				+block
	&.banner
		text-align: center
	&.pullLeft
		+left
		> li
			+left
			a
				+block
		&:after
			content: ''
			clear: both
	&.pullRight
		+right
		> li
			+left
			a
				+block
	&.fit
		display: table
		width: 100%
		> li
			display: table-cell
			> a
				+block
	&.comma
		> li
			&:after
				content: ', '
			&:last-child:after
				content: ''



// Mixed Classes
.highlight
	background: $highlightColor

.floatleft 
	+left

.floatright
	+right

.textLeft
	text-align: left

.textRight
	text-align: right

.textCenter
	text-align: center

.block
	display: block

.centerBlock
	margin: 0 auto

.spacer
	margin-bottom: lines(1)

.nooverflow
	overflow: hidden

.alignleft
	+left
	margin: 0 ($alr-vert + 0px) ($alr-horz + 0px) 0
	&.alignresponse
		br
			display: none !important
		+breakpoint($switchsize)
			float: none
			+block
			margin: 0 0 ($alr-horz + 0px) 0
.alignright
	+right
	margin: 0 0 ($alr-horz + 0px) ($alr-vert + 0px)
	&.alignresponse
		br
			display: none !important
		+breakpoint($switchsize)
			float: none
			+block
			margin: 0 0 ($alr-horz + 0px) 0

.fixedTop
	+absolute(0.1 0 0 0.1)
	width: 100%
	z-index: 99
	
.fixedBottom 
	+absolute(0 0 0.1 0.1)
	width: 100%
	z-index: 99

.fullright
	float      : right
	text-align : right

.hide, .visuallyhidden
	display: none

.invisible
	visibility: hidden

.cleartext
	text-indent    : -99999em 
	letter-spacing : -9999px

.clear
	clear: both

input[type=submit].button, button.button
	-webkit-appearance: none

// VIRTUAL CLASSES

// Hide for both screenreaders and browsers
%hideFromAll
	@extend .hide
	@extend .invisible

// Hide only visually, but have it available for screenreaders 
%screenreaderOnly
	position: absolute !important   
	clip: rect(1px 1px 1px 1px)
	clip: rect(1px, 1px, 1px, 1px)

// Fluid Media 
.fluid
	max-width : 100% 
	height    : auto 
	+block

// FluidClass for Placeholder (holder.js)
.fluidHolder 
	max-width : 100% !important
	height    : auto !important
		
.fluidFull
	width  : 100%
	height : auto
	+block

.fullsize
	+breakpoint($fullSizeImageWith)
		width  : 100%
		height : auto
		+block

// Flexible Video
.flexVideo
	position       : relative
	padding-top    : 25px
	padding-bottom : 67.5%
	height         : 0
	margin-bottom  : 16px
	overflow       : hidden
	&.widescreen
		padding-bottom: 56.25%
	&.cinema
		padding-bottom: 43.25%
	&.vimeo
		padding-top: 0
	iframe, object, embed
		position : absolute
		top      : 0
		left     : 0
		width    : 100%
		height   : 100%

img
	-ms-interpolation-mode: bicubic

#googlemap img, object, embed, #map_canvas embed, #map_canvas img, #map_canvas object
	max-width: none
	
// Print styles
.printOnly
	display: none !important

@mixin printmedia
	@media print
		*
			background  : transparent !important
			color       : $black !important 
			text-shadow : none !important
			filter      : none !important
			-ms-filter  : none !important
		p
			a, a:visited
				color           : #444 !important
				text-decoration : underline
			a[href]:after
				content: " (" attr(href) ")"
		abbr[title]:after
			content: " (" attr(href) ")"
		.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
			content: ''
		pre, blockquote
			border            : solid 1px #999
			page-break-inside : avoid
		thead
			display: table-header-group
		tr, img
			page-break-inside: avoid
		@page
			margin : 0.5cm
		p, h2, h3
			orphans: 3
			widows: 3
		h2, h3
			page-break-after: avoid
		.hideOnPrint
			display : none !important
		.printOnly
			display : block !important