// IMAGES MIXINS AND SHORTCODES

// 1. SPRITES
// GLOBAL VARIABLE
$sprites: 0 !default

// Returns the height of a sprite
@function getSpriteHeight($name)
	@return image-height(sprite-file($sprites, $name))

// Returns the width of a sprite
@function getSpriteWidth($name)
	@return image-width(sprite-file($sprites, $name))

// Generate the global sprite and set the route
@mixin spriteGenerate($route, $layoutstyle, $layoutspacing: 0, $repeat: false)
	$sprites: sprite-map('#{$route}/*.png', $spacing: $layoutspacing, $layout: #{$layoutstyle} )

	%spriteContainer
		background-image: $sprites
		@if $repeat == false
			background-repeat: no-repeat 
		@else
			background-repeat: $repeat

// Grab the Sprite 
@mixin getSprite($name, $height: true, $width: true, $offset-x: 0, $offset-y: 0, $block: false, $extend: true) 
	@if $extend == true
		@extend %spriteContainer
	@else
		background-image: sprite-url($sprites)
	background-position: sprite-position($sprites, $name,$offset-x, $offset-y)
	@if $block == true
		display: block
	@if $height == true
		height: getSpriteHeight($name)
	@if $width == true
		width: getSpriteWidth($name)

// Mixin for replace text with sprites
@mixin spriteReplace($name, $dimensions: true, $offset-x: 0, $offset-y: 0, $extend: true)
	+cleartext
	@if $dimensions == true
		+getSprite($name, true, true, $offset-x, $offset-y, true, $extend)
	@else
		+getSprite($name, false, false, $offset-x, $offset-y, true, $extend)

// Spriteposition Helper Mixin [with inner element or css content]
// => PreMixins
@mixin spritePositionFine($fineposition)
	@if nth($fineposition, 1) > 0 or nth($fineposition, 1) < 0
		top      : floor(nth($fineposition, 1)) + 0px
	@if nth($fineposition, 2) > 0 or nth($fineposition, 2) < 0
		right    : floor(nth($fineposition, 2)) + 0px
	@if nth($fineposition, 3) > 0 or nth($fineposition, 3) < 0
		bottom   : floor(nth($fineposition, 3)) + 0px
	@if nth($fineposition, 4) > 0 or nth($fineposition, 4) < 0
		left     : floor(nth($fineposition, 4)) + 0px

@mixin spritePositionDefined($name,$position, $elementsize, $margin)
	// Defaults
	$outerBoxWidth  : 0 !default
	$outerBoxHeight : 0 !default
	$marginV        : 0 !default
	$marginH        : 0 !default
	$positionY		: 0 !default
	$positionX 		: 0 !default

	// Precalculations
	@if length($elementsize) == 2
		$outerBoxWidth        : nth($elementsize,1) + 0px
		$outerBoxHeight       : (nth($elementsize,2)) + 0px
	@if length($elementsize) == 1
		$outerBoxWidth        : $elementsize + 0px
		$outerBoxHeight       : $elementsize + 0px

	@if length($margin) == 2
		$marginV : nth($margin,1) + 0px
		$marginH : nth($margin,2) + 0px
	@if length($margin) == 1
		$marginV : $margin + 0px
		$marginH : $margin + 0px

	$spriteHeight         : getSpriteHeight($name)
	$spriteWidth          : getSpriteWidth($name)
	$spriteWidthCenter    : $spriteWidth / 2
	$spriteHeightCenter   : $spriteHeight / 2
	$outerBoxWidthCenter  : $outerBoxWidth / 2		
	$outerBoxHeightCenter : $outerBoxHeight / 2	

	// Positioning
	@if $position == leftmiddle
		top  : $outerBoxHeightCenter - $spriteHeightCenter
		left : $marginH

	@if $position == lefttop
		top  : $marginV
		left : $marginH

	@if $position == leftbottom
		top  : $outerBoxHeight - $spriteHeight - $marginV
		left : $marginH

	@if $position == rightmiddle
		top  : $outerBoxHeightCenter - $spriteHeightCenter
		left : $outerBoxWidth - $spriteWidth - $marginH

	@if $position == righttop
		top  : $marginV
		left : $outerBoxWidth - $spriteWidth - $marginH

	@if $position == rightbottom
		top  : $outerBoxHeight - $spriteHeight - $marginV
		left : $outerBoxWidth - $spriteWidth - $marginH

	@if $position == centermiddle
		top  : $outerBoxHeightCenter - $spriteHeightCenter - $marginV
		left : $outerBoxWidthCenter - $spriteWidthCenter - $marginH

	@if $position == centertop
		top  : $marginV
		left : $outerBoxWidthCenter - $spriteWidthCenter - $marginH

	@if $position == centerbottom
		top  : $outerBoxHeight - $spriteHeight - $marginV
		left : $outerBoxWidthCenter - $spriteWidthCenter - $marginH

@mixin spritePositionDefinedFluid($name,$position, $margin)
	// Defaults
	$marginV        : 0 !default
	$marginH        : 0 !default

	@if length($margin) == 2
		$marginV : nth($margin,1) + 0px
		$marginH : nth($margin,2) + 0px
	@if length($margin) == 1
		$marginV : $margin + 0px
		$marginH : $margin + 0px

	$spriteHeight       : getSpriteHeight($name)
	$spriteWidth        : getSpriteWidth($name)
	$spriteWidthCenter  : $spriteWidth / 2
	$spriteHeightCenter : $spriteHeight / 2

	// Positioning
	@if $position == leftmiddle
		top  : 50%
		left : 0%
		margin-left: $marginV 
		margin-top: $marginH - $spriteHeightCenter

	@if $position == lefttop
		top  : 0%
		left : 0%
		margin-left: $marginV
		margin-top: $marginH

	@if $position == leftbottom
		top  : 100%
		left : 0%
		margin-left: $marginV
		margin-top: (0 - $marginH) - $spriteHeight

	@if $position == rightmiddle
		top  : 50%
		left : 100%
		margin-left: (0 - $marginV) - $spriteWidth
		margin-top: $marginH - $spriteHeightCenter

	@if $position == righttop
		top  : 0%
		left : 100%
		margin-left: (0 - $marginV) - $spriteWidth
		margin-top: $marginH 

	@if $position == rightbottom
		top  : 100%
		left : 100%
		margin-left: (0 - $marginV) - $spriteWidth
		margin-top: (0 - $marginH) - $spriteHeight

	@if $position == centermiddle
		top: 50%
		left: 50%
		margin-top: $marginH - $spriteHeightCenter
		margin-left: $marginV - $spriteWidthCenter

	@if $position == centertop
		top: 0%
		left: 50%
		margin-top: $marginH
		margin-left: $marginV - $spriteWidthCenter

	@if $position == centerbottom
		top: 100%
		left: 50%
		margin-top: (0 - $marginH) - $spriteHeight
		margin-left: $marginV - $spriteWidthCenter

// => Final Mixin
@mixin spritePosition($name, $p: defined, $position: lt, $elementsize: 0 0, $margin: 0 0,$fineposition: 0 0 0 0, $offset-x: 0, $offset-y: 0, $prefix: false, $extend: true)
	+relative
	@if $prefix == false
		&:before
			content  : ''
			+absolute
			@if $p == defined
				+spritePositionDefined($name,$position, $elementsize, $margin)

			@if $p == fine
				+spritePositionFine($fineposition)

			@if $p == fluid
				+spritePositionDefinedFluid($name,$position, $margin)

			+getSprite($name,true,true,$offset-x, $offset-y,true,$extend)

	@else
		span.#{$prefix}
			+absolute
			@if $p == defined
				+spritePositionDefined($name,$position, $elementsize, $margin)

			@if $p == fine
				+spritePositionFine($fineposition)

			@if $p == fluid
				+spritePositionDefinedFluid($name,$position, $margin)

			+getSprite($name,true,true,$offset-x, $offset-y,true,$extend)

// 2. IMAGES

// ImageSize
@mixin imageSize($name, $format: png ,$dir: '', $value: both)
	$img : unquote(#{$dir})#{$name}#{'.'}$format
	@if $value == both
		height : image-height($img)
		width  : image-width($img)

	@if $value == height
		height : image-height($img)

	@if $value == width
		width  : image-width($img)

// Insert a Background Image in a easy way
@mixin imageInsert($name, $format: png, $dir: '',$repeat: no, $replace: false, $dimensions: true, $pos: top left)

	$img : unquote(#{$dir})#{$name}#{'.'}$format

	@if $replace == true
		+cleartext

	@if $repeat == no-repeat or $repeat == no
		background : image-url($img) no-repeat $pos
		@if $dimensions == true
			+imageSize($name, $format ,$dir, $value: both)
			display	   : block

	@else if $repeat == repeat-x or $repeat == x
		background : image-url($img) repeat-x $pos
		@if $dimensions == true
			+imageSize($name, $format, $dir, $value: height)

	@else if $repeat == repeat-y or $repeat == y
		background : image-url($img) repeat-y $pos
		@if $dimensions == true
			+imageSize($name, $format ,$dir, $value: width)

	@else if $repeat == repeat or $repeat == r
		background : image-url($img) $pos

// Position an Image like a sprite

// => preMixin for fineposition
@mixin imagePositionFine($fineposition)
	@if nth($fineposition, 1) > 0 or nth($fineposition, 1) < 0
		top      : floor(nth($fineposition, 1)) + 0px
	@if nth($fineposition, 2) > 0 or nth($fineposition, 2) < 0
		right    : floor(nth($fineposition, 2)) + 0px
	@if nth($fineposition, 3) > 0 or nth($fineposition, 3) < 0
		bottom   : floor(nth($fineposition, 3)) + 0px
	@if nth($fineposition, 4) > 0 or nth($fineposition, 4) < 0
		left     : floor(nth($fineposition, 4)) + 0px

// => preMixin for Definedpositioon
@mixin imagePositionDefined($img,$position, $elementsize, $margin)
	// Defaults
	$outerBoxWidth  : 0 !default
	$outerBoxHeight : 0 !default
	$marginV        : 0 !default
	$marginH        : 0 !default
	$positionY		: 0 !default
	$positionX 		: 0 !default

	// Precalculations
	@if length($elementsize) == 2
		$outerBoxWidth        : nth($elementsize,1) + 0px
		$outerBoxHeight       : (nth($elementsize,2)) + 0px
	@if length($elementsize) == 1
		$outerBoxWidth        : $elementsize + 0px
		$outerBoxHeight       : $elementsize + 0px

	@if length($margin) == 2
		$marginV : nth($margin,1) + 0px
		$marginH : nth($margin,2) + 0px
	@if length($margin) == 1
		$marginV : $margin + 0px
		$marginH : $margin + 0px

	$imageHeight          : image-height($img)
	$imageWidth           : image-width($img)
	$imageWidthCenter     : $imageWidth / 2
	$imageHeightCenter    : $imageHeight / 2
	$outerBoxWidthCenter  : $outerBoxWidth / 2		
	$outerBoxHeightCenter : $outerBoxHeight / 2	

	// Positioning
	@if $position == leftmiddle
		top  : $outerBoxHeightCenter - $spriteHeightCenter
		left : $marginH

	@if $position == lefttop
		top  : $marginV
		left : $marginH

	@if $position == leftbottom
		top  : $outerBoxHeight - $imageHeight - $marginV
		left : $marginH

	@if $position == rightmiddle
		top  : $outerBoxHeightCenter - $spriteHeightCenter
		left : $outerBoxWidth - $imageWidth - $marginH

	@if $position == righttop
		top  : $marginV
		left : $outerBoxWidth - $imageWidth - $marginH

	@if $position == rightbottom
		top  : $outerBoxHeight - $imageHeight - $marginV
		left : $outerBoxWidth - $imageWidth - $marginH

	@if $position == centermiddle
		top  : $outerBoxHeightCenter - $imageHeightCenter - $marginV
		left : $outerBoxWidthCenter - $imageWidthCenter - $marginH

	@if $position == centertop
		top  : $marginV
		left : $outerBoxWidthCenter - $imageWidthCenter - $marginH

	@if $position == centerbottom
		top  : $outerBoxHeight - $imageHeight - $marginV
		left : $outerBoxWidthCenter - $imageWidthCenter - $marginH


// => preMixin for Definedpositioon
@mixin imagePositionDefinedFluid($img,$position, $margin)
	// Defaults
	$marginV        : 0 !default
	$marginH        : 0 !default

	@if length($margin) == 2
		$marginV : nth($margin,1) + 0px
		$marginH : nth($margin,2) + 0px
	@if length($margin) == 1
		$marginV : $margin + 0px
		$marginH : $margin + 0px

	$imageHeight       : image-height($img)
	$imageWidth        : image-width($img)
	$imageWidthCenter  : $imageWidth / 2
	$imageHeightCenter : $imageHeight / 2

	// Positioning
	@if $position == leftmiddle
		top  : 50%
		left : 0%
		margin-left: $marginV 
		margin-top: $marginH - $imageHeightCenter

	@if $position == lefttop
		top  : 0%
		left : 0%
		margin-left: $marginV
		margin-top: $marginH

	@if $position == leftbottom
		top  : 100%
		left : 0%
		margin-left: $marginV
		margin-top: (0 - $marginH) - $imageHeight

	@if $position == rightmiddle
		top  : 50%
		left : 100%
		margin-left: (0 - $marginV) - $imageWidth
		margin-top: $marginH - $imageHeightCenter

	@if $position == righttop
		top  : 0%
		left : 100%
		margin-left: (0 - $marginV) - $imageWidth
		margin-top: $marginH 

	@if $position == rightbottom
		top  : 100%
		left : 100%
		margin-left: (0 - $marginV) - $imageWidth
		margin-top: (0 - $marginH) - $imageHeight

	@if $position == centermiddle
		top: 50%
		left: 50%
		margin-top: $marginH - $imageHeightCenter
		margin-left: $marginV - $imageWidthCenter

	@if $position == centertop
		top: 0%
		left: 50%
		margin-top: $marginH
		margin-left: $marginV - $imageWidthCenter

	@if $position == centerbottom
		top: 100%
		left: 50%
		margin-top: (0 - $marginH) - $imageHeight
		margin-left: $marginV - $imageWidthCenter


// => Final Mixin
@mixin imagePosition($name, $format: png, $dir: '', $p: defined, $position: lt, $elementsize: 0 0, $margin: 0 0,$fineposition: 0 0 0 0, $prefix: false)

	$img : unquote(#{$dir})#{$name}#{'.'}$format

	+relative
	@if $prefix == false
		&:before
			content  : ''
			+absolute
			@if $p == defined
				+imagePositionDefined($img,$position, $elementsize, $margin)

			@if $p == fine
				+imagePositionFine($fineposition)

			@if $p == fluid
				+imagePositionDefinedFluid($img,$position, $margin)

			+imageInsert($name,$format,$dir)
	@else
		span.#{$prefix}
			+absolute
			@if $p == defined
				+imagePositionDefined($img,$position, $elementsize, $margin)

			@if $p == fine
				+imagePositionFine($fineposition)

			@if $p == fluid
				+imagePositionDefinedFluid($img,$position, $margin)

			+imageInsert($name,$format,$dir)