// Compass imports

@import compass/css3
@import compass/utilities

// FUNCTIONS
// Calculate Baseline
@function lines($lines)
	@return $lines * $bodyLineHeight + 0px

// Calculate Columsize
@function columsize($colNumber)
	@return percentage($colNumber / $gridColums)

@function mobileColumSize($colNumber)
	@return percentage($colNumber / $mobileGridColums)

// Calculate Offset
@function offset($colNumber)
	@return percentage($colNumber / $gridColums)	

// WebKit font-smoothing
@mixin font-smoothing($value: antialiased)
	-webkit-font-smoothing : $value
	text-rendering         : optimizeLegibility

@mixin boxsizing
	+box-sizing(border-box)
	@if $supportIE7	== true
		.lt-ie8 &
			behavior: url(#{$polyfillHTCPath}/boxsizing.htc)

@mixin csspie
	behavior: url(#{$polyfillHTCPath}/PIE.htc)

@mixin hardwareAcceleration
	-webkit-transform: translate3d(0,0,0)


@mixin viewable
	.visibleDesktop
		display: inherit !important 
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: none !important
		+breakpoint(0 $bTablet)
			display: none !important

	.visibleTablet
		display: none !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: inherit !important
		+breakpoint(0 $bTablet)
			display: none !important

	.visiblePhone
		display: none !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: none !important
		+breakpoint(0 $bTablet)
			display: inherit !important

	.visibleToTablet
		display: inherit !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: none !important
		+breakpoint(0 $bTablet)
			display: none !important

	.visibleToPhone
		display: inherit 
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: inherit 
		+breakpoint(0 $bTablet)
			display: none 

	.hiddenDesktop
		display: none !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: inherit !important
		+breakpoint(0 $bTablet)
			display: inherit !important

	.hiddenTablet
		display: inherit !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: none !important
		+breakpoint(0 $bTablet)
			display: inherit !important

	.hiddenPhone
		display: inherit !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: inherit !important
		+breakpoint(0 $bTablet)
			display: none !important

	.hiddenToTablet
		display: none !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: inherit !important
		+breakpoint(0 $bTablet)
			display: inherit !important

	.hiddenToPhone
		display: none !important
		+breakpoint(($bTablet + 1) ($bDesktop - 1))
			display: none !important
		+breakpoint(0 $bTablet)
			display: inherit !important

// Moving a absolute positioned element in the middle
@mixin absolute-middle($element: 0 0)
	$width  : 0 !default
	$height : 0 !default

	@if length($element) == 2
		$width  : nth($element,1)
		$height : nth($element,2)

	@if length($element) == 1
		$width: $element

	@if unitless($width)
		$width: $width + 0px
	@if unitless($height)
		$height: $height + 0px

	position: absolute

	@if $height > 0
		top: 50%
	left: 50%

	@if $height > 0
		margin-top: 0 - ($height / 2)
	margin-left: 0 - ($width / 2)

	@if $height > 0	
		height: $height
	width: $width 


// Moving an Element in the Middle
@mixin element-middle($container: 0, $element: 0)
	margin: 0
	padding: 0
	$container-height : 0 !default
	$container-width  : 0 !default
	$element-height   : 0 !default
	$element-width    : 0 !default

	@if length($container) == 2
		$container-width  : nth($container,1)
		$container-height : nth($container,2)
	@if length($container) == 1
		$container-height : $container

	@if length($element) == 2
		$element-width  : nth($element,1)
		$element-height : nth($element,2)
	@if length($element) == 1
		$element-height : $element

	@if unitless($element-height)
		$element-height: $element-height + 0px
	@if unitless($element-width)
		$element-width: $element-width + 0px
	@if unitless($container-height)
		$container-height : $container-height + 0px
	@if unitless($container-width)
		$container-width: $container-width + 0px

	margin-top: ($container-height - $element-height) / 2

	@if $element-width > 0
		margin-left: ($container-width - $element-width) / 2
		width: $element-width

	height: $element-height

	
// Boxpadding Recalculator - Recalculate the inner Height and Width with Padding
@mixin boxrecalc($width: 0,$height: 0, $padding: 0 0 0 0, $border: 0 0 0 0, $margin: 0 0 0 0)

	$pad-v : 0 !default
	$pad-h : 0 !default
	$mag-h : 0 !default
	$mag-v : 0 !default
	$bod-h : 0 !default
	$bod-v : 0 !default

	// Insert Padding
	@if length($padding) == 4
		$p-t : nth($padding,1) 
		$p-r : nth($padding,2)
		$p-b : nth($padding,3) 
		$p-l : nth($padding,4)

		@if $p-t > 0 
			$p-t : $p-t + 0px
		@if $p-r > 0
			$p-r : $p-r + 0px
		@if $p-b > 0
			$p-b : $p-b + 0px
		@if $p-l > 0
			$p-l : $p-l + 0px

		@if $p-t > 0 or $p-r > 0 or $p-b > 0 or $p-l > 0
			padding: $p-t $p-r $p-b $p-l

		$pad-h : $p-t + $p-b
		$pad-v : $p-r + $p-l

	@if length($padding) == 2
		$p-v : nth($padding,1) 
		$p-h : nth($padding,2) 

		@if $p-v > 0
			$p-v : $p-v + 0px
		@if $p-h > 0
			$p-h : $p-h + 0px

		@if $p-v > 0 or $p-h > 0
			padding: $p-v $p-h

		$pad-h : $p-v * 2
		$pad-v : $p-h * 2

	@if length($padding) == 1

		@if $padding > 0
			$padding : $padding + 0px

		$pad-h : $padding * 2
		$pad-v : $padding * 2

		@if $padding > 0
			padding: $padding

	// Insert Margin
	@if length($margin) == 4
		$m-t : nth($margin,1) 
		$m-r : nth($margin,2)
		$m-b : nth($margin,3) 
		$m-l : nth($margin,4)

		@if $m-t > 0 
			$m-t : $m-t + 0px
		@if $m-r > 0
			$m-r : $m-r + 0px
		@if $m-b > 0
			$m-b : $m-b + 0px
		@if $m-l > 0
			$m-l : $m-l + 0px

		@if $m-t > 0 or $m-r > 0 or $m-b > 0 or $m-l > 0
			margin: $m-t $m-r $m-b $m-l

		$mag-h : $m-t + $m-b
		$mag-v : $m-l + $m-r

	@if length($margin) == 2
		$m-v : nth($margin,1) 
		$m-h : nth($margin,2) 

		@if $m-v > 0
			$m-v : $m-v + 0px
		@if $m-h > 0
			$m-h : $m-h + 0px

		@if $m-v > 0 or $m-h > 0
			margin: $m-v $m-h

		$mag-h : $m-v * 2
		$mag-v : $m-h * 2

	@if length($margin) == 1

		@if $margin > 0
			$margin : $margin + 0px

		$mag-h : $margin * 2
		$mag-v : $margin * 2

		@if $margin > 0
			margin: $margin

	// Insert Border
	@if length($border) == 4
		$b-t : nth($border,1) 
		$b-r : nth($border,2)
		$b-b : nth($border,3) 
		$b-l : nth($border,4)

		@if $b-t > 0 
			$b-t : $b-t + 0px
		@if $b-r > 0
			$b-r : $b-r + 0px
		@if $b-b > 0
			$b-b : $b-b + 0px
		@if $b-l > 0
			$b-l : $b-l + 0px

		@if $b-t > 0 or $b-r > 0 or $b-b > 0 or $b-l > 0
			border-width: $b-t $b-r $b-b $b-l

		$bod-h : $b-t + $b-b
		$bod-v : $b-r + $b-l

	@if length($border) == 2
		$b-v : nth($border,1) 
		$b-h : nth($border,2) 

		@if $b-v > 0
			$b-v : $b-v + 0px
		@if $b-h > 0
			$b-h : $b-h + 0px

		@if $b-v > 0 or $b-h > 0
			border-width: $b-v $b-h

		$bod-h : $b-v * 2
		$bod-v : $b-h * 2

	@if length($border) == 1

		@if $border > 0
			$border : $border + 0px

		$bod-h : $border * 2
		$bod-v : $border * 2

		@if $border > 0
			border-width: $border

	@if $height > 0
		height : $height - $pad-h - $mag-h - $bod-h + 0px
	@if $width > 0
		width  : $width - $pad-v - $mag-v - $bod-v + 0px

// Better Fontface Mixin
@mixin fontface($filename, $fontname: $filename, $fontweight: normal, $fontstyle: normal) 
	// Standardfont
	@font-face
		font-family: $fontname
		src: font_url(quote($filename)+'.eot')
		src: font_url(quote($filename)+'.eot?#iefix') format('eot'), font_url(quote($filename)+'.woff') format('woff'), font_url(quote($filename)+'.ttf') format('truetype'), font_url(quote($filename)+'.svg#' + $fontname) format('svg')
		font-weight: $fontweight
		font-style: $fontstyle

// Color Calculator
// $color = the Inputcolor
// $angle = the colorangle
// $mode = positiv Values lighten the Color, negative Values darken the Color, equal Zero make nothing
// $vib = positiv Values saturate the Color, nagative Values desaturate the Color, equal Zero make nothing
@function colorcalc($color, $angle: 0, $mode: 0, $vib: 0)

	$inputcolor: adjust-hue($color, $angle)

	// IF Mode heigher than 0 Lighten the Color
	@if $mode > 0
		// Secruity to Stop Errors
		@if $mode > 100
			$mode : 100

		$outputcolor: lighten($inputcolor,$mode)
		
		// Vibrance Calculating
		// If $vib heigher than 0 Saturate the Color
		@if $vib > 0
			@if $vib > 100
				$vib : 100
			
			@return saturate($outputcolor, $vib)

		// If $vib lower than 0 Desaturate the Color 
		@if $vib < 0
			$negvib : abs($vib)

			@if $negvib > 100
				$negvib : 100
			
			@return desaturate($outputcolor, $negvib)

		// If $vib equal 0 return the outputcolor 
		@if $vib == 0
			@return $outputcolor

	// IF $mode lower than 0 Darken the Color
	@if $mode < 0
		$negmode : abs($mode)
		// Secruity to Stop Errors
		@if $negmode > 100
			$negmode : 100
			
		$outputcolor: darken($inputcolor,$negmode)
		
		// Vibrance Calculating
		// If $vib heigher than 0 Saturate the Color
		@if $vib > 0
			@if $vib > 100
				$vib : 100
			
			@return saturate($outputcolor, $vib)

		// If $vib lower than 0 Desaturate the Color 
		@if $vib < 0
			$negvib : abs($vib)

			@if $negvib > 100
				$negvib : 100
			
			@return desaturate($outputcolor, $negvib)

		// If $vib equal 0 return the outputcolor 
		@if $vib == 0
			@return $outputcolor

	// IF $mode equal 0 
	@if $mode == 0

		$outputcolor : $inputcolor

		// Vibrance Calculating
		// If $vib heigher than 0 Saturate the Color
		@if $vib > 0
			@if $vib > 100
				$vib : 100
			
			@return saturate($outputcolor, $vib)

		// If $vib lower than 0 Desaturate the Color 
		@if $vib < 0
			$negvib : abs($vib)

			@if $negvib > 100
				$negvib : 100
			
			@return desaturate($outputcolor, $negvib)

		// If $vib equal 0 return the outputcolor 
		@if $vib == 0
			@return $outputcolor

// Gives a RGBA Fallback - $color = HEX Color
@mixin rgba-back($color,$trans: 1, $coloring: back)
	@if $coloring == back
		background-color: $color
		background-color: rgba($color,$trans)
	@if $coloring == text
		color: $color
		color: rgba($color,$trans)

// Breakpoint Mixin
@mixin breakpoint($value: 768, $dir: max)
	// with two values media queries with min and max
	@if length($value) == 2
		$max: nth($value,2) + 0px
		$min: nth($value,1) + 0px
		@media only screen and (min-width: $min) and (max-width: $max)
			@content	 

	// with one value media querie only min or max
	@if length($value) == 1
		$size: $value + 0px
		@if $dir == max
			@media only screen and (max-width: $size)
				@content

		@if $dir == min
			@media only screen and (min-width: $size)
				@content

@mixin calc($property, $expression) 
	#{$property}: -moz-calc(#{$expression}) 
	#{$property}: -o-calc(#{$expression}) 
	#{$property}: -webkit-calc(#{$expression}) 
	#{$property}: calc(#{$expression}) 

@mixin iconfontStarter($iconFontName,$listIconWidth: 1.25em, $ulIconGutter: 0.8em)
	[class^="icon-"],[class*=" icon-"]
		&:before
			font-family     : $iconFontName
			font-weight     : normal
			font-style      : normal
			display         : inline-block
			text-decoration : inherit

	a [class^="icon-"],
	a [class*=" icon-"]
		display         : inline-block
		text-decoration : inherit

	.icon-large
		&:before
			vertical-align : middle
			font-size      : 4 / 3em

	.btn, .nav-tabs
		[class^="icon-"],
		[class*=" icon-"]
			line-height: .9em

	li
		[class^="icon-"],
		[class*=" icon-"]
			display    : inline-block
			width      : $listIconWidth
			text-align : center
		.icon-large:before,
		.icon-large:before
			width: 1.5 * $listIconWidth

	ul.icons
		list-style-type : none
		// margin-left     : 2em
		text-indent     : 0 - $ulIconGutter
		li
			[class^="icon-"],
			[class*=" icon-"]
				width: $ulIconGutter
			.icon-large:before, 
			.icon-large:before
				vertical-align: initial

@mixin iconfontStarterIE7($iconFontName)
	[class^="icon-"],
	[class*=" icon-"] 
		font-family : $iconFontName
		font-style  : normal
		font-weight : normal

@mixin iconfontIE7($iconName: icon, $code: '')
	.icon-#{$iconName}
		*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x#{$code};nbsp;')

@mixin ie7IconReader($list)
	@each $listentry in $list
		.icon-#{nth($listentry,1)}
			$code: nth($listentry,2)
			*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x#{$code};nbsp;')
			
@mixin normalize
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
		display: block

	audio, canvas, video
		display: inline-block
		*display: inline
		*zoom: 1

	audio:not([controls])
		display: none

	[hidden]
		display: none

	html
		font-size: 100%
		overflow-y: scroll
		-webkit-text-size-adjust: 100%
		-ms-text-size-adjust: 100%

	body
		margin: 0

	body, button, input, select, textarea
		font-family: sans-serif

	a
		&:hover, &:active
			outline: 0

	abbr[title]
		border-bottom: 1px dotted

	b, strong
		font-weight: bold

	dfn
		font-style: italic

	mark
		background: #ff0
		color: #000

	pre, code, kbd, samp
		font-family: monospace, serif
		_font-family: 'courier new', monospace
		font-size: 1em

	pre
		white-space: pre
		white-space: pre-wrap
		word-wrap: break-word

	q
		quotes: none
		&:before, &:after
			content: ''
			content: none

	small
		font-size: 75%

	blockquote
		margin: 1em 40px

	sub
		font-size: 75%
		line-height: 0
		position: relative
		vertical-align: baseline
	sup
		font-size: 75%
		line-height: 0
		position: relative
		vertical-align: baseline
		top: -0.5em
	sub
		bottom: -0.25em

	ul, ol
		margin: 1em 0
		padding: 0 0 0 40px

	dd
		margin: 0 0 0 40px

	nav
		ul, ol
			list-style: none
			list-style-image: none

	img
		border: 0
		-ms-interpolation-mode: bicubic

	svg:not(:root)
		overflow: hidden

	figure
		margin: 0

	form
		margin: 0

	fieldset
		margin: 0 2px
		padding: 0.35em 0.625em 0.75em

	legend
		border: 0
		*margin-left: -7px

	button, input, select, textarea
		font-size: 100%
		margin: 0
		vertical-align: baseline
		*vertical-align: middle

	button, input
		line-height: normal
		*overflow: visible

	table
		button, input
			*overflow: auto

	button, html input[type="button"], html input[type="reset"], html input[type="submit"]
		cursor: pointer
		-webkit-appearance: button

	input
		&[type="checkbox"], &[type="radio"]
		box-sizing: border-box
		padding: 0
		&[type="search"]
			-webkit-appearance: textfield
			-moz-box-sizing: content-box
			-webkit-box-sizing: content-box
			box-sizing: content-box
		&::-webkit-search-decoration
			-webkit-appearance: none

	button::-moz-focus-inner, input::-moz-focus-inner
		border: 0
		padding: 0

	textarea
		overflow: auto
		vertical-align: top

	table
		border-collapse: collapse
		border-spacing: 0
