// Shotcut Mixins

@mixin none
	display: none

@mixin block
	display: block

@mixin inline
	display: inline

@mixin inlineblock
	display: inline-block
	@if $supportIE7 == true
		.ie7 &
			display        : inline
			zoom           : 1
			vertical-align : auto

@mixin left
	float: left

@mixin right
	float: right

@mixin buttonReplace
	+cleartext
	+block

// Mixin to shift Layers more on top
@mixin layershift($index)
	+relative
	z-index: $index

@mixin overlap($overlapping)
	@if nth($overlapping,1) >= 0
		margin-left: 0 - nth($overlapping,1) + 0px
	@if nth($overlapping,1) >= 0
		margin-right: 0 - nth($overlapping,1) + 0px
		
@mixin heightAlign($height,$factor: 1)

	$line-height : $height * $factor
	$height      : $height

	@if unitless($height)
		$height: $height + px
		$line-height : $line-height + px

	height      : $height
	line-height : $line-height

@mixin fontAlign($height,$factor: 1)

	$line-height : $height * $factor
	$height      : $height

	@if unitless($height)
		$height      : $height + px
		$line-height : $line-height + px

	font-size   : $height
	line-height : $line-height
	
@mixin decollapse
	padding-top : 1px
	margin-top  : -1px

@mixin size($size)
	@if length($size) == 2
		$width  : nth($size,1)
		$height : nth($size,2)

		@if $width > 0
			width: $width + 0px
		@if $height > 0
			height: $height + 0px

	@if length($size) == 1
		width  : $size + 0px
		height : $size + 0px

@mixin cleartext
	text-indent    : -99999em
	letter-spacing : -9999px

@mixin relative($pos: 0 0 0 0)
	position: relative
	@if nth($pos, 1) > 0 or nth($pos, 1) < 0
		$position:  floor(nth($pos,1))
		@if unitless($position)
			top      : $position + 0px
		@else 
			top      : $position

	@if nth($pos, 2) > 0 or nth($pos, 2) < 0
		$position:  floor(nth($pos,2))
		@if unitless($position)
			right      : $position + 0px
		@else 
			right      : $position

	@if nth($pos, 3) > 0 or nth($pos, 3) < 0
	
		$position:  floor(nth($pos,3)) 
		@if unitless($position)
			bottom      : $position + 0px
		@else 
			bottom      : $position

	@if nth($pos, 4) > 0 or nth($pos, 4) < 0
		$position:  floor(nth($pos,4)) 
		@if unitless($position)
			left      : $position + 0px
		@else 
			left      : $position		

@mixin absolute($pos: 0 0 0 0)
	position: absolute
	@if nth($pos, 1) > 0 or nth($pos, 1) < 0
		$position:  floor(nth($pos,1))
		@if unitless($position)
			top      : $position + 0px
		@else 
			top      : $position

	@if nth($pos, 2) > 0 or nth($pos, 2) < 0
		$position:  floor(nth($pos,2))
		@if unitless($position)
			right      : $position + 0px
		@else 
			right      : $position

	@if nth($pos, 3) > 0 or nth($pos, 3) < 0
	
		$position:  floor(nth($pos,3)) 
		@if unitless($position)
			bottom      : $position + 0px
		@else 
			bottom      : $position

	@if nth($pos, 4) > 0 or nth($pos, 4) < 0
		$position:  floor(nth($pos,4)) 
		@if unitless($position)
			left      : $position + 0px
		@else 
			left      : $position	

@mixin fixed($pos: 0 0 0 0)
	position: fixed
	@if nth($pos, 1) > 0 or nth($pos, 1) < 0
		$position:  floor(nth($pos,1))
		@if unitless($position)
			top      : $position + 0px
		@else 
			top      : $position

	@if nth($pos, 2) > 0 or nth($pos, 2) < 0
		$position:  floor(nth($pos,2))
		@if unitless($position)
			right      : $position + 0px
		@else 
			right      : $position

	@if nth($pos, 3) > 0 or nth($pos, 3) < 0
	
		$position:  floor(nth($pos,3)) 
		@if unitless($position)
			bottom      : $position + 0px
		@else 
			bottom      : $position

	@if nth($pos, 4) > 0 or nth($pos, 4) < 0
		$position:  floor(nth($pos,4)) 
		@if unitless($position)
			left      : $position + 0px
		@else 
			left      : $position		

@mixin static
	position : static
	left     : inherit
	right    : inherit
	top      : inherit
	bottom   : inherit