@function lines($lines)
	@return $lines * $bodyLineHeight + 0px

.wirebox
	font-size: 16px
	color: #fff
	text-align: center
	font-family: sans-serif
	background: rgba(0,0,0,0.2)

	a
		color: #fff
		text-decoration: underline

	&.small
		line-height: lines(2)
	&.medium
		line-height: lines(4)

	&.large
		line-height: lines(8)

	&.huge
		line-height: lines(16)

	&.giant
		line-height: lines(32)