head
	meta(charset='utf-8')
	title #{sitetitle}
	meta(name='viewport', content='width=device-width,initial-scale=1')
	meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
	link(rel='stylesheet', href='style.css')
	link(rel='shortcut icon', type='images/png', href='lib/images/favicon.png')
	link(rel='icon', type='images/png', href='lib/images/favicon.png')
	script(src='lib/js/essential/modernizr.js')
