// Loading jQuery from CDN

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script
	window.jQuery || document.write('<script src="lib/js/essential/jquery.js"><\/script>')

script(src='lib/js/essential/conditionizr.js')
script(src='lib/js/essential/customforms.js')
script(src='lib/js/essential/placeholder.js')
script(src='lib/js/essential/holder.js')
script(src='lib/js/essential/apps.js')
script
	$(function() {
	  $('head').conditionizr({
	    debug      : true,
	    scriptSrc  : 'lib/js/essential/',
	    styleSrc   : 'css/conditionizr/',
	    ieLessThan : { active: true, version: '9', scripts: false, styles: true, classes: true, customScript: '/lib/js/polyfill/selectvizr.js'},
	    chrome     : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    safari     : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    opera      : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    firefox    : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    ie10       : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    ie9        : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    ie8        : { scripts: false, styles: false, classes: true, customScript: '/lib/js/polyfill/respond.js' },
	    ie7        : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    ie6        : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    retina     : { scripts: false, styles: false, classes: true, customScript: 'none' },
	    mac    : true,
	    win    : true,
	    x11    : true,
	    linux  : true
	  });
	});


if css3FilterSupport == true
	script
		var polyfilter_scriptpath = '/lib/js/polyfill/';
	script(src='lib/js/polyfill/contentloaded.js')
	script(src='lib/js/polyfill/cssParser.js')
	script(src='lib/js/polyfill/css-filters-polyfill.js')


//- <!--[if lt IE 9]>
//- - if (ieCSS3SeleSupport == true)
//- 	script(src='lib/js/polyfill/selectvizr.js')
//- - if (responsiveIE78 == true)
//- 	script(src='lib/js/polyfill/respond.js')
//- <![endif]-->

//- - if (responsiveIE8 == true)
//- 	<!--[if lt IE 8]>
//- 		script(src='lib/js/polyfill/respond.js')
//- 	<![endif]-->